---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''} - n3tz Professional Web Development Studio`,
  description:
    'Discover expert insights, cutting-edge strategies, and practical solutions from our professional web development team.',
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="Expert Insights from Professional Web Developers"> Welcome to the n3tz.io Blog </Headline>
    <span>
      At n3tz.io, our professional web development team shares expert insights and industry knowledge to help businesses
      navigate the evolving digital landscape. Our blog delivers practical solutions, cutting-edge strategies, and
      technical expertise to support your web development journey.
    </span>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <Features
      title="What's Our Blog About?"
      tagline="Professional Web Development Insights and Expertise"
      items={[
        {
          title: 'In-Depth Insights',
          description:
            'Dive into comprehensive articles covering a range of topics from the intricacies of modern web frameworks like Astro, to the latest in web security, performance optimization, and more.',
          icon: 'tabler:search',
        },
        {
          title: 'Cutting-Edge Trends',
          description:
            "Stay ahead of the curve with updates on emerging technologies and how they're reshaping the digital landscape.",
          icon: 'tabler:trending-up',
        },
        {
          title: 'Practical Tips and Guides',
          description:
            "Whether you're a seasoned developer or just starting out, our practical tips and step-by-step guides are designed to help you navigate the complex world of web development.",
          icon: 'tabler:manual-gearbox',
        },
        {
          title: 'Case Studies and Success Stories',
          description:
            'Learn from real-world examples as we share our experiences in crafting high-end web applications.',
          icon: 'tabler:book',
        },
        {
          title: 'Expert Opinions and Industry Analysis',
          description:
            'Gain insights from our team of experts who bring years of experience and a passion for web innovation.',
          icon: 'tabler:report-analytics',
        },
        {
          title: 'Technology Reviews and Comparisons',
          description:
            'Delve into detailed reviews and comparisons of the latest tools and technologies in web development, helping you make informed decisions for your projects.',
          icon: 'tabler:git-compare',
        },
      ]}
    />
    <!-- CallToAction Widget *********** -->

    <CallToAction
      actions={[
        {
          variant: 'primary',
          text: 'Start Your Project',
          href: '/contact',
          icon: 'tabler:rocket',
        },
      ]}
    >
      <Fragment slot="title">
        Ready to <span class="text-accent highlight">transform your digital presence</span>?
      </Fragment>

      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          Our professional web development team is ready to help you achieve your business goals. Contact us today to
          discuss your project requirements and explore custom solutions.
        </span>
      </Fragment>
    </CallToAction>
  </section>
</Layout>
